mat-progress-bar {
      position: absolute;
      top: 63px;
      left: 0;
}
.wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      background-color: var(--black);
      min-height: 375px;
      gap: 20px;
      
}
h2 {
      margin: 0 auto;
      color: #6038af;
      justify-self: center;
}

div {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
}

table {
      margin: 10px 10px 0 10px;
      width: 100%;
    }
    mat-paginator {
          width: 100%;
          margin: 0 10px 10px 10px;
    }
    .table-container {
          width: 100%;
          justify-content: center;
    }