main h1 {
      font-size: 44px;
      padding: 30px;
      font-weight: 600;
      margin: 0 auto;
      color: #6038af;
}

main {
      justify-content: flex-start;
      height: fit-content
}
app-courses-list{
      width: 100%;
}