
img {
      margin: 0 auto;
      width: 40%;
    }

    main > h1 {
      font-size: 44px;
      padding: 30px;
      font-weight: 600;
      margin: 0 auto;
      color: #6038af;
    }
    main {
      flex-direction: column;
      justify-content: center;
    }