a {
      color: white;
      text-decoration: none;
    }

.nav {
      display: flex;
      justify-content: center;

      background-color:#00c2cb;
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
}

.nav img {
      width: 200px;
      padding-top: 5px;
}
nav section {
      display: flex;
      gap: 40px;
}

span {
      padding-top:3px;
      font-size: 14px;
}