main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.fields {
      display: flex;
      flex-direction: row;
}

.left, .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
}

button {
      width: 44%;
      margin: 5px;
}
.bot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
}
textarea {
      max-height: 71px;
      resize: none;
    }